.rc_107y9ht_0 {
  box-sizing: border-box;
  width: 100%;
  min-height: 100dvh;
  margin: auto;
  padding: 2rem;
  color: var(--rc_4pjwda);
  font-family: Inter, system-ui, sans-serif;
  background: var(--rc_yc142e);
}

.rc_107y9ht_0 h1 {
  margin-block-start: 0;
  color: var(--rc_d0rg60);
  font-size: 1.75em;
  font-weight: bold;
}

.rc_107y9ht_0[data-compact] {
  padding: 1rem;
}

@media (width >= 48rem) {
  .rc_107y9ht_0 {
    padding: 3rem;
  }
}
