:root {
  --rc_jbjej6: #087f73;
  --rc_ddsy7n: #ffffff;
  --rc_1xpsaip: #e9f3f1;
  --rc_6ug87w: #ffffff;
  --rc_1by40t0: #172321;
  --rc_j58jwk: #526460;
  --rc_1u0z3vb: #e85d4a;
  --rc_1wypgmd: #b8ccc8;
  --rc_4n84x0: 1rem;
}
